<% if !current_user %>
<h1 align="center"> Welcome to HeroQuestStart</h1><br>
<h5 align="center"> Please sign in or create an account to get started!</h5>
<% else %>
<h1 align="center">Welcome back to HeroQuestStart MiLord!</h1><br>
<h5 align="center">View your <%= link_to "Current Heros", user_heros_path(current_user), class: "all_heros" %> or <%= link_to "Create New Hero",  new_user_hero_path(current_user) %></h5>
<h3 align="center">Or perhaps you wish to</h3>
<h5 align="center">View your <%= link_to "Current Adventures", user_experiences_path(current_user) %> or <%= link_to "Create New Adventure",  new_user_experience_path(current_user) %></h5>
<% end %>
